.logo-container {
    margin-top: 6px;
}

.logo {
    margin: auto;
}

.search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-field-wrapper {
    width: 582px;
    height: 46px; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--border-color);
    border-radius: 50px;
    margin-top: 6px;
}

.search-result-container {
    width: 552px;
    height: 20px;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    top: 35%;
    background-color: whitesmoke;
    padding-left: 28px;
    border-radius: 0 0 20px 20px;
}

.search-field-wrapper:hover {
    z-index: 1;
    outline: 2px solid var(--outline-color);
}

.search-field {
    width: 443px;
    height: 27px;
    border: none;
    outline: none;
    font-size: 16px;
    color:var(--search-field-color);
}

.search-field-wrapper > .material-symbols-outlined {
    color: var(--google-material-icon-color);
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20
}

.search-icon {
    cursor: default;
}

.google-mic-icon, .google-lens-icon {
    width: 32px;
    height: 32px;
}

.google-mic-icon:hover, .google-lens-icon {
    cursor: pointer;
}

.btn-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color: var(--button-background-color);
    border: none;
    outline: none;
    width: 127px;
    height: 36px;
    font-size: 14px;
    color: var(--button-color);
}

.btn:hover {
    cursor: pointer;
    outline: 2px solid var(--button-background-color);
    z-index: 1;
}

.languages-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.languages-offering {
    font-size: 13px;
    color: var(--languages-offering-color);
}

.languages-options {
    display: flex;
    align-items: center;
}

.language {
    font-size: 13px;
    color: var(--language-color);
    margin-right: 10px;
}

.language:hover {
    text-decoration: underline;
}
